[Desktop Entry]

Type=Application

Version=1.0

Name=Sancho SQL

Comment=Client application for PostgreSQL database

# Path=

Exec=sanchosql

Icon=sanchosql

Terminal=false

Categories=Development;Database;GTK;